.iqdr-layout-block div {
}

.iqdr-layout-block div {
    vertical-align: baseline;
}

.iqdr-layout-block div.iqdr-children-wrapper {
    margin-top: 5px;
    margin-left: 5px;
    /*padding-left: 5px;*/
}

.iqdr-layout-block div.iqdr-array-wrapper {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}

.iqdr-layout-block div.iqdr-wrapper {
}

.iqdr-layout-block label.iqdr-label {
    vertical-align: top;
    word-wrap: normal;
    text-align: left;
    color: gray;
    /*padding-top: 0;*/
    padding-left: 10px;
}

.iqdr-layout-block div.iqdr-value {
    padding-right: 10px;
    padding-left: 10px;
}
