.iqdr-layout-flex div {
}

.iqdr-layout-flex div {
    vertical-align: baseline;
}

.iqdr-layout-flex div.iqdr-children-wrapper {
    margin-left: 5px;
    margin-top: 5px;
    /*padding-left: 5px;*/
}

.iqdr-layout-flex div.iqdr-array-wrapper {
    text-align: left;
    margin-top: 5px;
    padding-top: 0;
}

.iqdr-layout-flex div.iqdr-wrapper {
    /*display: inline-flex;*/
}

.iqdr-layout-flex label.iqdr-label {
    vertical-align: top;
    word-wrap: normal;
    text-align: left;
    color: gray;
    /*padding-left: 10px;*/
    padding-left: 10px;
}

.iqdr-layout-flex div.iqdr-value {
    padding-right: 10px;
    padding-left: 5px;
}
