.iqdr-layout-table table {
    border-collapse: collapse;
    border-spacing: 0;
}

.iqdr-layout-table td {
    vertical-align: baseline;
}

.iqdr-layout-table table.iqdr-children-wrapper {
    margin-left: 5px;
    border-spacing: 0;
}

.iqdr-layout-table td.iqdr-array-wrapper {
    text-align: left;
    padding-top: 0;
}

.iqdr-layout-table tr.iqdr-wrapper {
}

.iqdr-layout-table td.iqdr-label {
    word-wrap: normal;
    text-align: left;
    color: gray;
    padding-top: 0;
    /*nechat tady padding?*/
    padding-left: 10px;
}

.iqdr-layout-table td.iqdr-value {
    padding-right: 10px;
    padding-left: 5px;
}
